html {
  color: #000;
  background: #ffffff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}
legend {
  color: #000000;
}
#yui3-css-stamp.cssreset {
  display: none;
}
.border-top {
  border-top: 1px solid #cbd7d3;
}
.border-bottom {
  border-bottom: 1px solid #cbd7d3;
}
@font-face {
  font-family: 'andy';
  src: url('fonts/andy.eot');
  src: url('fonts/andy.eot?#iefix') format('embedded-opentype'), url('fonts/andy.ttf') format('truetype'), url('fonts/andy.woff') format('woff'), url('fonts/andy.svg#andy') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'andy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jack:before {
  content: "\21";
}
.icon-rabbit:before {
  content: "\22";
}
.icon-close:before {
  content: "\23";
}
.icon-menu:before {
  content: "\24";
}
html,
body {
  height: 100%;
  font-family: 'Mercury Text G1 A', 'Mercury Text G1 B' georgia, serif;
  background-color: #fcfaf7;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
body {
  font-family: 'Mercury Text G1 A', 'Mercury Text G1 B' georgia, serif;
  font-size: 18px;
  color: #222222;
  line-height: 1.6;
}
::-moz-selection {
  background: #e46e57;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #e46e57;
  color: #fff;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h1 {
  font-family: "Knockout 27 A", "Knockout 27 B", impact, helvetica, sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: -1px;
}
h2 {
  font-family: 'Mercury Text G1 A', 'Mercury Text G1 B' georgia, serif;
  font-size: 1.6em;
  line-height: 1.4;
  font-weight: 300;
  color: #222222;
}
h3 {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}
h4 {
  font-family: 'Mercury Text G1 A', 'Mercury Text G1 B' georgia, serif;
  font-style: italic;
  color: #626262;
  display: inline-block;
  font-size: 1.1em;
}
a {
  text-decoration: none;
  outline: none;
  color: #e46e57;
}
a:hover,
a:focus {
  color: #b8371d;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
hr {
  border-style: none;
  border-width: 0;
  border-top: 1px solid #dddddd;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
  -webkit-padding-start: 0;
}
p {
  margin-bottom: 1em;
  font-size: 1.15em;
  color: #222222;
}
p a {
  color: #000;
  border-bottom: 1px solid #000;
}
p a:hover {
  border-bottom: 1px solid #e46e57;
}
.caption {
  font-size: .9em;
  font-style: italic;
  margin: .5em 0 .5em 0;
  text-align: right;
  color: #888888;
}
a img:hover {
  opacity: .75;
}
.divider {
  display: inline-block;
  margin: 0 20px;
}
.readmore {
  text-align: center;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
  font-size: .95em;
  margin-top: -10px;
  margin-bottom: 20px;
}
.cap {
  width: 100%;
  height: 5px;
  background: #000000;
}
a .logo {
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
.logo {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 5px;
}
.tagline {
  margin-top: -20px;
  margin-bottom: 40px;
}
.tagline hr {
  margin-top: -14px;
}
@-moz-document url-prefix() {
  hr {
    position: relative;
    z-index: 0;
    top: -5px;
  }
}
.tagline h4 {
  padding: 0 10px;
  background: #fcfaf7;
  position: relative;
  z-index: 2;
}
.navbar ul {
  text-align: center;
  font-size: 0.878em;
  text-transform: uppercase;
  border-top: 1px solid #cbd7d3;
  margin-bottom: 0;
  padding: 2.5% 0 2.4% 0;
}
.navbar a {
  color: #959595;
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #e46e57;
}
.navbar li {
  padding: 0 1%;
  margin: 0 5%;
  display: inline-block;
}
.primaryheadings {
  font-weight: 500;
  text-align: center;
  color: #888888;
  padding-bottom: 12px;
  border-bottom: 2px solid #888888;
  margin: 40px 0 20px;
  letter-spacing: 1px;
}
.callout {
  border-top: 1px solid #cbd7d3;
  background: url('../img/mountains.jpg');
  background-size: cover;
  margin-bottom: 15px;
}
.intro {
  padding: 50px 0;
  text-align: center;
  color: #2c3e51;
}
.recentarticle h2 {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
.recentarticle img {
  width: 100%;
  margin: 10px 0 20px;
}
.recentarticle cite {
  display: block;
  font-style: normal;
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
  font-size: .8em;
  margin: 10px 0;
}
.dribbble img {
  width: 100%;
}
.dribbble a:hover div {
  color: #b8371d;
}
.dribbble .caption {
  position: relative;
  margin-bottom: 30px;
}
.mobilefooter {
  display: none;
  margin: 30px 0;
  border-top: 1px solid #cbd7d3;
  padding: 30px 5%;
}
.footer {
  margin-top: 60px;
  border-top: 1px solid #cbd7d3;
  padding: 15px 0 30px;
}
.rabbit {
  font-family: "andy";
  font-size: 4em;
  color: #cbd7d3;
  display: block;
  width: 80px;
  margin: 0 auto;
  text-align: center;
}
.rabbit:hover,
.rabbit:focus {
  color: #cbd7d3;
  cursor: default;
  text-decoration: none;
}
.colophon {
  display: block;
  text-align: center;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 7em;
    margin-top: 18px;
  }
  .tagline {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 481px) {
  .topbar,
  nav {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    padding: 30px 0;
    border-bottom: none;
  }
}
@media screen and (max-width: 480px) {
  #wrap {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -moz-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -o-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  }
  .pagedesign {
    top: 210px;
  }
  #wrap.pushed .content {
    -webkit-transform: translate3d(-240px, 0, 0);
    -moz-transform: translate3d(-240px, 0, 0);
    -o-transform: translate3d(-240px, 0, 0);
    -ms-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
  }
  #wrap.pushed nav {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  nav {
    -webkit-transform: translate3d(240px, 0, 0);
    -moz-transform: translate3d(240px, 0, 0);
    -o-transform: translate3d(240px, 0, 0);
    -ms-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -moz-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -o-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    position: fixed;
    right: 0px;
    top: 0px;
    background: #222222;
    width: 240px;
    color: #fcfaf7;
    height: 100%;
    min-height: 100%;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 20px;
    font-size: 0.878em;
    background: url(../img/nav-bg.jpg) no-repeat top center;
  }
  nav h3 {
    padding-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
  }
  @-moz-document url-prefix() {
    h3 {
      margin-top: 0;
    }
  }
  nav ul {
    float: left;
    margin-top: 5px;
    margin-bottom: 35px;
    width: 100%;
    padding-left: 0;
  }
  nav li {
    float: left;
    clear: both;
  }
  nav li a {
    display: inline-block;
    color: #fcfaf7;
    text-decoration: none;
    width: 100%;
    height: 30px;
    line-height: 45px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -moz-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -o-transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  }
  nav li a:hover {
    color: #e46e57;
  }
  nav li a.selected {
    color: #e46e57;
  }
  nav .rabbit {
    top: 40px;
    position: relative;
  }
  #menu-toggle {
    height: 15px;
    position: absolute;
    right: 30px;
    top: 15px;
    color: #fcfaf7;
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.878em;
  }
  .mobile-nav {
    font-family: "andy";
    margin-left: 2px;
    margin-right: 0;
    display: inline-block;
    position: relative;
    top: 1px;
    right: -2px;
  }
  .cap {
    background: #a2301a;
  }
  .topbar {
    background: #e46e57;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #aaaaaa;
  }
  #nav-close {
    position: absolute;
    right: 20px;
    top: 22px;
    color: #fcfaf7;
    font-size: 0.878em;
    font-family: "andy";
  }
  #nav-close:hover,
  #nav-close:focus {
    color: #e46e57;
  }
  .navbar,
  #footer {
    display: none;
  }
  .mobilefooter {
    display: block;
  }
  .logo {
    margin-top: 0;
    color: #222222;
  }
  .intro {
    font-size: 1.5em;
    text-align: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  body {
    background: #fcfaf7;
  }
  .tagline hr {
    width: 50%;
  }
  .navbar li {
    margin: 0 2.4%;
    padding: 0 0.5%;
  }
}
