.casestudypage {
    background:  url(../img/fgpress.jpg) top center no-repeat;
    background-size: cover;
}

.casestudyoverview {
    .maincontent;
    margin-top: 65px;
}

p.metadata {
    line-height: 2em;
}