html, body {
  height: 100%;
  background-color: @white;
}

body {
  font-family: @serif;
  font-size: 16px;
  color: @standardtext;
  line-height: 1.6;
  @media screen and (max-width: 479px) {
    font-size: 14px;
  }
}

//::-moz-selection{ background: @tertiary; color: @boldtext; text-shadow: none; }
//::selection { background: @tertiary; color: @boldtext; text-shadow: none; }

a {
  text-decoration: none;
  outline: none;
  color: @primary;
  &:hover, &:focus {
    color: darken(@primary, 10%);
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h1 {
  font-family: @logo;
  color: @boldtext;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  font-family: @title;
  font-size: 2.25em;
  font-style: italic;
  line-height: 1.2;
  font-weight: 300;
}

h3 {
  font-family: @sans;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-family: @sans;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: @boldtext;
}

h5 {
  font-size: 1.375em;
  font-weight: 300;
  font-family: @serif;
  line-height: 1.4;
}

p {
  font-size: 1.375em;
  margin-bottom: 1em;
  color: @standardtext;
  .mediumlinks(0, 1.1em);
}

em {
  font-style: italic;
  color: @boldtext;
}

ol {
  font-size: 1.375em;
  margin-bottom: 1.375em;
  list-style: decimal;
  li {
    padding: 1.375em 0;
    border-top: 1px solid @pale;
    &:last-of-type {
      border-bottom: 1px solid @pale;
    }
    @media screen and (max-width: 845px) {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}

ul {
  list-style: none;
  font-family: @sans;
  -webkit-padding-start: 0;
  letter-spacing: 0.0625em;
}

hr {
  border-style: none;
  border-width: 0;
  border-top: 1px solid @pale;
  margin-top: 0;
  margin-bottom: 0;
}

//DESIGN ELEMENTS

.container {
  background: @white;
    .subtitle {
      margin-bottom: 27px;
    @media screen and (max-width: 479px) {
      text-align: left;
    }
  }
}

.rabbit {
  font-family: @icon;
  font-size: 5em;
  color: @pale;
  display: inline-block;
  margin: 0 95px;
  text-align: center;
  &:hover, &:focus {
    color: @pale;
    cursor: default;
    text-decoration: none;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.maincontent {
  .make-row;
  .make-md-column(8);
  .make-md-column-offset(2);
  .make-xs-column(12);
  .make-xs-column-offset(0);
}

.block {
  .make-row;
  margin-bottom: 40px;
}

.callout {
  font-family: @title;
  color: @titletext;
  font-size: 2.25em;
  line-height: 1.35;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  .make-sm-column(10);
  .make-sm-column-offset(1);
}

p.callout {
  margin-top: 20px;
}

.mainparagraph {
  font-family: @serif;
  color: @standardtext;
  font-size: 1.375em;
  line-height: 2em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1em;
}

.subtitle {
  font-family: @sans;
  color: @boldtext;
  font-size: 1.125em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.125em;
  position: relative;
}

.raise {
  font-size: 0.5625em;
  line-height: 1.4;
  font-weight: 800;
  letter-spacing: 0.0625em;
  display: inline-block;
  position: relative;
  top: -.55em;
  border-bottom: 2px solid @primary;
}

.number {
  margin-right: 25px;
  @media screen and (max-width: 479px) {
    text-align: left;
    margin-right: 15px;
  }
}

.simplelist {
  .subtitle;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
}

.metadata {
  font-family: @sans;
  color: @light;
  font-size: 1em;
  font-weight: 700;
  display: block;
  letter-spacing: 0.125em;
  strong {
    color: @boldtext;
  }
  span {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.divider {
  clear: both;
  margin: 50px auto;
  text-align: center;
  width: 50px;
  height: 2px;
  background-color: @primary;
  position: relative;
}

.getmore {
  text-align: center;
  font-family: @sans;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 27px;
  font-size: 1em;
  line-height: 1;
  clear: both;
  display: block;
  .mediumlinks(0, 1.1em);
}

.svgcontainer {
  width: 100%;
  height: 1px;
}

svg {
  position: relative;
  top: -11.6em;
  z-index: 0;
  display: block;
  margin: 0 auto;
  @media screen and (max-width: 479px) {
    display: none;
    visibility: hidden;
  }
}

.leadin {
    position: relative;
    top: -13px;
    float: left;
    width: 100%;
    z-index: 0;
    padding: 140px 0 110px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: @secondary;
        opacity: .8
    }
    h3, .callout {
        color: @white;
    }
    a {
        color: @white;
        &:hover, &:focus {
            opacity: .75;
        }
    }
    .divider {
        background-color: @white;
        margin: 40px auto 30px;
    }
    .callout {
        .make-row;
        .make-xs-column(10);
        .make-xs-column-offset(1);
    }
}

.simplenavigation {
  .make-row;
  color: @light;
  font-family: @sans;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  .mediumlinks;
  .previous {
    float: left;
    margin: 27px 15px;
  }
  .next {
    float: right;
    margin: 27px 15px;
  }
}