//COLORS

@grey: #222;
@mediumgrey: #444;
@lightgrey: #888;
@navpale: #aaa;
@pale: #ddd;
@white: #fefefe;

@subtle: #cbd7d3;
@link: #e46e57;
@secondary: #74c2bb;
@tertiary: #2c3e51;

//TYPOGRAPHY

@title: "Knockout 27 A", "Knockout 27 B", impact, helvetica, sans-serif;
@sans: "Ideal Sans SSm A", "Ideal Sans SSm B", helvetica, sans-serif;
@serif: "Mercury Text G1 A", "Mercury Text G1 B" georgia, serif;
@icon: "andy";
@numbers: "Numbers Indicia A", "Numbers Indicia B";

.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  .background-clip(padding-box);
}

.background-clip(@argument: padding-box) {
  -moz-background-clip: @argument;
  -webkit-background-clip: @argument;
  background-clip: @argument;
}

.border-top {
	border-top: 1px solid @subtle;
}

.border-bottom {
	border-bottom: 1px solid @subtle;
}

//ANIMATION

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.transition(@duration:0.25s, @ease:(cubic-bezier(0.2,0.3,0.25,0.9))) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.translate(@x:0, @y:0) {
  .transform(translate(@x, @y));
}

.mediumlinks(@x: 0, @y:1.1em) {
  a {
    color: @grey;
    background-position: @x @y;
    background-size: 1px 1px;
    text-decoration: none;
    background-image: linear-gradient(#fff 50%, @grey 50%);
    background-repeat: repeat-x;
    &:hover {
      color: @mediumgrey;
      background-image: linear-gradient(#fff 50%, @mediumgrey 50%);
    }
  }
}