#container {
  width: 100%;
  height: 100%;
  float: left;
  overflow-x: hidden;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  min-height: 100%;
  background: @white;
  .transition;
}

#container.pushed {
  .content {
    .transform(translate3d(-250px, 0, 0));
    overflow: hidden;
  }
  nav {
    .transform(translate3d(0px, 0, 0,));
    h3, ul {
      opacity: 1;
    }
    overflow: hidden;
  }
}

nav {
  .transform(translate3d(250px, 0, 0,));
  .transition;
  overflow-x: hidden;
  position: fixed;
  right: 0px;
  top: 0px;
  background: @quaternary;
  width: 250px;
  color: @pale;
  height: 100%;
  .box-sizing(border-box);
  padding: 0;
  font-size: 1em;
  overflow: hidden;
  z-index: 0;
  letter-spacing: 0.0625em;
  -webkit-box-shadow: inset 10px -10px 36px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px -10px 36px -10px rgba(0,0,0,0.75);
  box-shadow: inset 10px -10px 36px -10px rgba(0,0,0,0.75);
  h3 {
    margin-top: 31px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 400;
    border-bottom: 1px solid @standardtext;
    .transition;
    opacity: 0;
  }
  ul {
    float: left;
    margin-top: 5px;
    margin-bottom: 35px;
    width: 100%;
    .transition;
    opacity: 0;
  }
  li {
    float: left;
    clear: both;
    font-weight: 300;
    width: 100%;
    display: block;
    a {
      padding-left: 28px;
      display: inline-block;
      color: @pale;
      text-decoration: none;
      width: 100%;
      line-height: 2.25em;
      text-transform: uppercase;
      border-left: 2px solid @quaternary;
      &.selected {
        border-left: 2px solid @white;
        color: @white;
      }
      .transition;
      &:hover {
        color: @white;
        border-left: 2px solid @white;
      }
    }
  }
  ul:nth-of-type(2) {
    margin-bottom: 125px;
  }
}

#menu-toggle {
  position: absolute;
  right: 25px;
  top: 10px;
  font-family: @sans;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.0625em;
  display: inline-block;
  padding: 20px 10px 10px 20px;
  .transition;
}

.mobile-nav {
  font-family: @icon;
  margin-left: 6px;
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 0.6875em;
}

#nav-close {
  position: absolute;
  right: 0;
  top: 15px;
  color: @white;
  font-size: 0.6875em;
  font-family: @icon;
  padding: 20px 20px 10px 60px;
  .transition;
  &:hover, &:focus {
    opacity: .75;
  }
}