.recentworksample {
    .getmore {
        margin-top: 12px;
        margin-bottom: 8px;
    }
}

.previousclients {
    .maincontent;
    margin-top: 27px;
}

.clientlist {
    .make-row;
    ul {
        .make-xs-column(6);
        margin-top: 5px;
        margin-bottom: 10px;
    }
    li {
        margin-bottom: .75em;

    }
}

.standardservices {
    .make-row;
    h3 {
        .make-xs-column(12);
        margin-top: 27px;
    }
    p {
        margin-bottom: 2.25em;
        &:last-of-type {
            margin-bottom: 1em;
        }
    }
}

.services {
    margin-top: 5px;
    .make-sm-column(5);
    &:first-of-type {
        .make-sm-column-offset(1);
    }
}

h4 {
    margin-bottom: 4px;
}

.history {
    margin-top: 27px;
    .maincontent;
}

.historyphoto {
  .make-row;
  .make-xs-column(10);
  .make-xs-column-offset(1);
  .clearfix;
  margin-bottom: 25px;
  img {
    width: 100%;
  }
}